@model IEnumerable<Proyect1.Models.Transactions>

@{
    ViewBag.Title = "Entrada";
}

<h2>Entrada</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeacturedProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductOfInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeacturedProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductOfInterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
