
@{
    ViewBag.Title = "StartTransaction";
    var my_prod = @ViewBag.Product.Id;
}

<div style="margin-top: 100px;">
    <div style="margin: 10px 0 20px 80%">
        <a href="~/Transactions/Index"><input class="btn btn-success" value="<< Back to List" /></a>
    </div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Status
            </th>
            <th>
                DateRegistration
            </th>
            <th></th>
        </tr>

       
            <tr>
                <td>
                     @ViewBag.Product.ProductName
                </td>
                <td>
                    @ViewBag.Product.Description
                </td>
                <td>
                    @ViewBag.Product.Status
                </td>
                <td>
                    @ViewBag.Product.RegisterDate
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = @ViewBag.Product.Id }, new { @class = "btn btn-primary" }) 
                    
                </td>
            </tr>
        

    </table>

    

    @foreach (var item1 in ViewBag.Products)
    {
        if (item1.Id != my_prod)
        {
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        DateRegistration
                    </th>
                    <th></th>
                </tr>


                <tr>
                    <td>
                        @item1.ProductName
                    </td>
                    <td>
                        @item1.Description
                    </td>
                    <td>
                        @item1.Status
                    </td>
                    <td>
                        @item1.RegisterDate
                    </td>
                    <td>
                        @Html.ActionLink("Change", "Create", new { id = @item1.Id, id2 = @ViewBag.Product.Id }, new { @class = "btn btn-primary" })

                    </td>
                </tr>


            </table>
        }
    }
</div>