@model Proyect1.Models.User

@{
    ViewBag.Title = "Delete";
}

<div class="prod-container">
    <div class="menu-wrap">
        <nav class="menu">
            <div class="icon-list">
                <a href="#"><i class="fa fa-fw fa-info-circle"></i><span>Account Info</span></a>
                <a href="#"><i class="fa fa-fw fa-edit"></i><span>Edit Information</span></a>
                <a href="#"><i class="fa fa-fw fa-trash-o"></i><span>Delete Account</span></a>
            </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
    </div>
    <button class="menu-button" id="open-button">Open Menu</button>
    <div class="content-wrap">
        <div class="title-content">
            <header class="codrops-header">
                <h1>My Account</h1>
            </header>
        </div>
    </div>
    <div class="delete-form">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dt-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username, new { @class = "control-label" })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password, new { @class = "control-label" })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Age, new { @class = "form-control" })
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <a class="btn btn-lg btn-danger btn-trash" href="#">
                    <i class="fa fa-trash-o fa-lg"></i> Delete
                </a>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/products/classie.js"></script>
<script src="~/Scripts/products//main.js"></script>

