@model Proyect1.Models.User

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>

        <div class="prod-container">
            <div class="menu-wrap">
                <nav class="menu">
                    <div class="icon-list">
                        <a href="#"><i class="fa fa-fw fa-info-circle"></i><span>Account Info</span></a>
                        <a href="#"><i class="fa fa-fw fa-edit"></i><span>Edit Information</span></a>
                        <a href="#"><i class="fa fa-fw fa-trash-o"></i><span>Delete Account</span></a>
                    </div>
                </nav>
                <button class="close-button" id="close-button">Close Menu</button>
            </div>
            <button class="menu-button" id="open-button">Open Menu</button>
            <div class="content-wrap">
                <div class="title-content">
                    <header class="codrops-header">
                        <h1>My Account</h1>
                    </header>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { @class = "form-control" }) @*new { @class = "col-md-2 control-label" }*@
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age)
                        @Html.ValidationMessageFor(model => model.Age)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Scripts/products/classie.js"></script>
    <script src="~/Scripts/products//main.js"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
